
body {
    background: #f8dea9 url(images/noise.png);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
    sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    width: 960px;
} 

.place {
    background-color: #dadee2;
    border: 1px solid #CCC;
    border-color: #3f3e3e #555454 #2b2929 #222121;
    margin-bottom: 20px;
    padding: 10px;
}

.place h2 {
    border-bottom: 1px dashed #c0392f;
    margin: 0;
}

.place a {
    color: #925005;
    font-weight: bold;
}

h1 a:hover {
    background-color: #7e9f19;
    text-decoration: none;
}

.place img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.clear {
    clear: both;
}

.footer {
    font-size: 20px;
    text-align: center;
}

.sidenote h3 {
    font-size: 20px;
    margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
}

.sidenote {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}
    
.places {
    float: right;
    width: 500px;
}






    