.container {
    margin: 0 auto;
    width: 960px;
}

body {
    background-image: url(imagens/fundo\ laranja.avif);
    margin: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    color: #ffffff;
    line-height: 1.6;
}

.place {
    background-color: #5de2f33a;
    border: 5px solid #fdfeff7e;
    margin-bottom: 10px;
    padding: 10px;
}

.place h2 {
    color: #fffafa;
    border-bottom: 3px dashed #fcd93e42;
    margin: 0;
}

.place a {
    color: #ff954e;
    font-weight: bold;
}



h1 a {
    color: #fddf7cfd;
    text-decoration: none;
}

h1 a:hover {
    background-color: #f7e59825;
    text-decoration: none;
}

.place img {
    border: 1px solid #e6f14a;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
    width: 200px;
    height: 150px;
}

.clear {
    clear: both;
}

.footer {
    font-size: 20px;
    text-align: center;
}

.sidenote {
    background-color: #59b7f725;
    border: 1px solid rgb(196, 196, 196);
    padding: 10px;
    float: right;
    width: 100px;
}

.sidenote h3 {
    font-size: 20px;
    margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
}

.places {
    float: left;
    width: 100px;
}