<!DOCTYPE html>
<!-- O “xmlns” especifica o namespace XML para nosso documento. -->
<!-- O atributo “xmlns:th” define que podemos usar as propriedades definidas pelo Thymeleaf,. -->

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<title>Lista de Convidados</title>
</head>

<body>
	<h1>AlgaWorks!</h1>

	<!-- <dependency> entraria aqui ou no pom.xml -->

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>